<div class="table-responsive-md">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="idCol" scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Resume</th>
        <th scope="col">Panel</th>
        <th scope="col">Status</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of applicants; index as i">
        <th class="idCol" scope="row">{{ i + 1 }}</th>
        <td>{{ applicant.name }}</td>
        <td><a href={{applicant.resume_url}} target="_blank">view cv</a></td>
        <td>{{ applicant.panel_id }}</td>
        <td>{{ applicant.status }}</td>
        <td>{{ applicant.comment }}</td>
      </tr>
    </tbody>
  </table>
</div>