<div class="applicant-table">
  <div *ngFor="let applicant of applicants; index as i" [@slideInOutLeft] class="table-panel"
    [ngClass]="{'interested': applicant.status !== 'Not Interested', 'interviewed': applicant.panel_id !== '', 'withdrawn':applicant.status === 'Not Interested' }">

    <div class="d-flex">
      <div class="col-2image">
        <img class="profile_img" src="{{applicant.profileImage }}" alt="{{applicant.name}}" />
      </div>

      <div class="ml-2 mr-2 text">
        <h3>{{applicant.name}}</h3>
        <span *ngIf="applicant.status !== 'Not Interested'">Interviewed by: <br> {{applicant.panel_id}} </span>
        <span *ngIf="applicant.status === 'Not Interested'">Application withdrawn </span>
      </div>
    </div>
    <div>
      <a href={{applicant.resume_url}} target="_blank" class="btn btn-primary"
        *ngIf="applicant.status !== 'Not Interested'">View
        CV</a>
    </div>

  </div>
</div>