.candidatePanel {
  height: auto;
  justify-content: center;
}

.col-2image {
  max-height: 4rem;
  max-width: 4rem;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.profile_img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.btn-primary,
.btn-secondary {
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
  height: auto;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #f1c40f;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active {
  border: 1px solid #f1c40f;
  background-color: #f1c40f;
}

.table-img {
  max-width: 2em;
  max-height: 2em;
}

.table-panel-interested,
.table-panel-withdrawn {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 0.5rem;
  font-size: 0.8rem;
  border-radius: 10px;
  border-left: solid 10px #f1c40f;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
}

.table-panel-withdrawn {
  border-left: solid 10px #e74c3c;
}
.table-panel-interviewed {
  border-left: solid 10px #3caea3;
}
.table-panel-interviewed .btn-primary {
  border: 1px solid #3caea3;
  background-color: #3caea3;
  height: auto;
}
.table-panel-interviewed .btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #3caea3;
}
.table-panel-interested h3,
.table-panel-withdrawn h3 {
  font-size: 1em;
  margin: 0;
}
