.viewCV {
    border-radius: 5px ;
    border: none;
    padding: 10px 40px;
    background-color: #3f3f3fec;
    font-size: 0.75rem;
    color: #fff;
    margin-bottom: 14px;
    transition: 0.4s;
  }
  
  .viewCV:hover {
  
    background-color: #ffffff;
    color: #dfab00ec;
    }

@media(max-width:800px){
    .viewCV {
        border-radius: 4px ;
        border: none;
        padding: 4px 12px;
        font-size: 0.75rem;
        margin-bottom: 14px;
        transition: 0.4s;
      }

}