<!-- panel status -->
<div class="navbar panelTop">
  <h2 class="companyname">Welcome, {{coordinatorName}}</h2>
  <p> Meeting Link:<a href={{meetingLink}} target="_blank"> {{meetingLink}}</a> </p>
  <button class="btn-primary LogOutButton" (click)="onClickLogout()">Logout</button>
</div>
<section class="container-fluid">
  <div class="detailContainer">
    <div *ngFor="let panel of panels" class="card panelCard" [ngClass]="{'availableNext':panel.available && panel.next,
                    'availableNotNext':panel.available && !panel.next,
                    'done':panel.done,
                    'NotAvailableStart':!panel.available && panel.start,
                    'NotAvailableNotStart':!panel.available && !panel.start,
                    'Issue': panel.support == 'Requested'}">
      <div class="card-body">
        <div class="cardHeading">
          <h4 class="card-title">{{ panel.name }}</h4>
        </div>
        <!-- <p>This Panel is currently:</div> -->
        <div *ngIf="panel.support == 'Requested' else normalFunction">
          <h3>Requires Assistance!</h3>
        </div>
        <ng-template #normalFunction>
          <div *ngIf="panel.available else notAvailable">
            <div *ngIf="panel.next else notNext">
              <!-- <h5>Waiting for you to send a candidate. <br>Please send in the next candidate.</h5> -->
              <h5>Send in the next candidate.</h5>
            </div>
            <ng-template #notNext>
              <!-- <div><h5>Still discussing the previous candidate. <br>Please be ready to allocate a candidate</h5></div> -->
              <div>
                <h5>Do nothing</h5>
              </div>
              <p>Panel is reviewing the previous candidate</p>
            </ng-template>
          </div>
          <ng-template #notAvailable>
            <div *ngIf="panel.start else notStart">
              <!-- <h5>Ready to begin it's interview. <br>Please send the link to the candidate.</h5> -->
              <h5>Start the interview</h5>
              Applicant sent to breakout room <input type='checkbox' [(ngModel)]='panel.done'>
            </div>
            <ng-template #notStart>
              <!-- <h5>Preparing for the next interview. <br>Please tell the candidate to be ready.</h5> -->
              <h5>Do nothing</h5>
              <p>Panel is preparing for next interview</p>
            </ng-template>
          </ng-template>
        </ng-template>
        <h4>Current Applicant: {{ panel.currentApplicant }}</h4>
        <button class="yellowBut" *ngIf="panel.support == 'Requested'" (click)="cancelSupport(panel.name)">
          Issue Solved
        </button>
      </div>
    </div>
  </div>
</section>


<!-- Table for those who have not already been to at least one interview -->
<section class="container-fluid">
  <div class="row">
    <div class="col-6 ">
      <h2 class="tableName align-middle">Waiting to be interviewed</h2>
    </div>
    <div class="col-6 text-right">
      <app-add-new [applicants]="applicants" [company]="company"></app-add-new>
    </div>

  </div>

  <div class="table-responsive-md">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Assign to Panel</th>
          <th scope="col"></th>
          <th scope="col">Application Withdrawn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants">
          <ng-template [ngIf]="applicant.interviewed_by_panel_id=='' && !applicant.statusB">
            <td class="text-left">{{ applicant.applicant_id }} | {{ applicant.name }}</td>
            <td>
              <select [(ngModel)]="applicant.panel_id">
                <option *ngFor="let p of panels" [ngValue]="p.name" [selected]="p.name === applicant.panel_id">
                  {{ p.name }}
                </option>
              </select>
            </td>
            <td>
              <Button class="sendBut" (click)="ChangePanel(applicant.applicant_id, applicant.panel_id)"
                [disabled]="!applicant.available" [ngClass]="{ sendButDisable: !applicant.available }">
                <div *ngIf="applicant.available">
                  Send to {{ applicant.panel_id }}
                </div>
                <div *ngIf="!applicant.available">Not Available</div>
              </Button>
            </td>
            <td>
              <input type="checkbox" (change)="ChangeStatus($event, applicant.applicant_id)"
                [(ngModel)]="applicant.statusB" />
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table for those who have already been to at least one interview -->
  <h2 class="tableName">Have been sent for an interview</h2>
  <div class="table-responsive-md">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="idCol" scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Comment</th>
          <th scope="col">Interviewed by</th>
          <th scope="col">Assign to Panel</th>
          <th scope="col"></th>
          <th scope="col">Application Withdrawn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants; index as i">
          <ng-template [ngIf]="applicant.interviewed_by_panel_id!=='' && !applicant.statusB">
            <th class="idCol" scope="row">{{ i + 1 }}</th>
            <td class="text-left">{{ applicant.applicant_id }} | {{ applicant.name }}</td>
            <td>{{ applicant.comment }}</td>
            <td>{{applicant.interviewed_by_panel_id}}</td>
            <td>
              <select [(ngModel)]="applicant.panel_id">
                <option *ngFor="let p of panels" [ngValue]="p.name" [selected]="p.name === applicant.panel_id">
                  {{ p.name }}
                </option>
              </select>
            </td>
            <td>
              <Button class="sendBut" (click)="ChangePanel(applicant.applicant_id, applicant.panel_id)"
                [disabled]="!applicant.available" [ngClass]="{ sendButDisable: !applicant.available }">
                <div *ngIf="applicant.available">
                  Send to {{ applicant.panel_id }}
                </div>
                <div *ngIf="!applicant.available">Not Available</div>
              </Button>
            </td>
            <td>
              <input type="checkbox" (change)="ChangeStatus($event, applicant.applicant_id)"
                [(ngModel)]="applicant.statusB" />
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Table for those who have withdrawn their application -->
  <h2 class="tableName">Application Withdrawn</h2>
  <div class="table-responsive-md">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="idCol" scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Comment</th>
          <th scope="col">Interviewed by</th>
          <th scope="col">Application Withdrawn</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let applicant of applicants; index as i">
          <ng-template [ngIf]="applicant.statusB">
            <th class="idCol" scope="row">{{ i + 1 }}</th>
            <td class="text-left">{{ applicant.applicant_id }} | {{ applicant.name }}</td>
            <td>{{ applicant.comment }}</td>
            <td>{{applicant.interviewed_by_panel_id}}</td>
            <td>
              <input type="checkbox" (change)="ChangeStatus($event, applicant.applicant_id)"
                [(ngModel)]="applicant.statusB" />
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</section>