<!-- panel status -->
<section>
    <div *ngFor="let panel of panels">
        <button> {{panel.name}} available {{panel.available}}</button>
        Support: {{panel.support}}
        <button (click)="cancelSupport(panel.name)">Issue Solved</button>
        <div>{{panel.currentApplicant}}</div>
    </div>


</section>
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Assign to Panel</th>
                <th scope="col">Send to Panel</th>
                <th scope="col">Status</th>
                <th scope="col">Availability</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let applicant of applicants; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ applicant.name }}</td>

                <td><select [(ngModel)]="applicant.panel_id">
                        <option *ngFor="let p of panels" [ngValue]="p.name" [selected]="p.name === applicant.panel_id">
                            {{p.name}}</option>
                    </select></td>
                <td>
                    <Button (click)="ChangePanel(applicant.applicant_id, applicant.panel_id)">Send to
                        {{ applicant.panel_id }}</Button>
                </td>
                <td><input type="checkbox" (change)="ChangeStatus($event,applicant.applicant_id)"
                        [(ngModel)]='applicant.statusB' /><span>Not
                        Interested</span>
                </td>
                <td>Available</td>
            </tr>
        </tbody>
    </table>
</div>