/*/

/*styels for table */

.sendBut {
    border-radius: 5px ;
    border: none;
    padding: 0.5rem 0.5rem;
    background-color: #3f3f3fec;
    font-size: 0.75em;
    color: #fff;
    margin-bottom: 14px;
    transition: 0.4s;
  }
  
  .sendBut:hover {
  
    background-color: #ffffff;
    color: #dfab00ec;
    }

    
    /* panel details */

    .panelDetails{
      display: flex;
      flex-direction: row;
    }
    .detailContainer{
      padding:0.1em;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: rgb(236, 236, 236);
    }
    .issueBut{
      color:white;
    }

    .card{
      width: 20rem;
    }
@media(max-width:800px){
    .card{
      width:10rem;
    }
    .card h5{
      font-size: 1em;
    }
    .card p{
      font-size: 0.8em;
    }
    .sendBut {
        border-radius: 4px ;
        border: none;
        padding: 4px 12px;
        font-size: 0.75rem;
        margin-bottom: 14px;
        transition: 0.4s;
        font-size: 0.5rem;
      }
      th{
        font-size: 0.6em;
      }
        
      td{
        font-size: 0.6em;
      }
      .idCol{
        display: none;
      }
      .sendBut{
        padding: 0.2rem 0.2rem;
      }
}
