.tableName{
  padding: 0.75rem;
  margin: 8px 0;
}

/*styels for table */

.sendBut {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.5rem;
  background-color: #3f3f3fec;
  font-size: 0.75em;
  color: #fff;
  margin-bottom: 14px;
  transition: 0.4s;
}

.sendButDisable {
  background-color: #ffffff;
  color: red;
}

.sendBut:hover {
  background-color: #ffffff;
  color: #dfab00ec;
}

/* panel details */

.panelDetails {
  display: flex;
  flex-direction: row;
}
.detailContainer {
  padding: 0.1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: rgb(236, 236, 236);
}
.issueBut {
  color: white;
}

.panelCard {
  width: 30vw;
  border-radius: 5px;
  margin: 0.5rem;
  border-left: solid 10px #20639b;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
}


/*Classes for the different box style based on conditions*/

.availableNext{
  border-left: solid 10px #20639b;
}
.availableNotNext{
  border-left: solid 10px #173f5f;
}
.NotAvailableStart{
  border-left: solid 10px #f6d55c;
}
.NotAvailableNotStart{
  border-left: solid 10px #3caea3;
}
.Issue{
  border-left: solid 10px #ed553b;
}

.panelCard h5 {
  color: rgb(1, 78, 167);
}

.panelCard h3 {
  color: #ed553b;
}

.panelCard p{
  margin-bottom: 8px;
}

.cardHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.LogOutButton {
  border: 1px solid #ed553b;
  border-radius: 5px;
  background-color: #ed553b;
  color: #ffffff;
  height: 3em;
  font-size: 0.75em;
  margin: 0.5rem;
  transition: 0.4s;
}

.LogOutButton:disabled {
  background-color: gray;
  border-color: gray;
}


.LogOutButton:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #20639b;
}

.LogOutButton:not(:disabled):not(.disabled):focus {
  outline: none;
  box-shadow: none;
}

.LogOutButton:not(:disabled):not(.disabled):active {
  border: 1px solid #ed553b;
  background-color: #ed553b;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}


@media (max-width: 800px) {
  .card {
    width: 40vw;
  }
  .card h5 {
    font-size: 1em;
  }
  .card p {
    font-size: 0.8em;
  }

  .cardHeading {
    display: flex;
    flex-direction: column;
  }
  .sendBut {
    border-radius: 4px;
    border: none;
    padding: 4px 12px;
    font-size: 0.75rem;
    margin-bottom: 14px;
    transition: 0.4s;
    font-size: 0.5rem;
  }
  th {
    font-size: 0.6em;
  }

  td {
    font-size: 0.6em;
  }
  .idCol {
    display: none;
  }
  .sendBut {
    padding: 0.2rem 0.2rem;
  }
}
