html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}
body {
  width: calc(100vw - 34px);
  overflow-x: hidden !important;
}
.container-fluid {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
