.btn-primary,
.btn-secondary,
.btn-link {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  height: 3em;
  font-size: 0.75em;
  margin-right: 0.5rem;
  transition: 0.4s;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-link:disabled {
  background-color: gray;
  border-color: gray;
}

.btn-secondary {
  border: 1px solid #ed553b;
  background-color: #ed553b;
}

.btn-link {
  border: 1px solid #173f5f;
  background-color: #173f5f;
  font: inherit;
  height: 2em;
  text-align: center;
  vertical-align: inherit;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #20639b;
}

.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #ed553b;
}

.btn-link:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #173f5f;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-link:not(:disabled):not(.disabled):active {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  border: 1px solid #ed553b;
  background-color: #ed553b;
}
