.panelPage{
    background-image: url('../../assets/logImages/pannelbk.png');
    background-size: cover;
    
    
}
.panelTop{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin:0;
}

.companyname{
    padding: 0;
    font-size: 2rem;
    color: rgb(56, 45, 45);
    margin: 2rem;
    margin-bottom: 0;
  
}

.entcHeader{
    display: flex;
    align-items: center;
}
.entcHeader h3{
    font-size:1rem;
    margin: 1rem;
}
.comName{
    background-color: #20639b;
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
    border-radius: 0 2rem 2rem 0;

}
.comName h1{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;

}


.twoButTop{
    display: flex;
    flex-direction: row;
}

.candidateIn{
    display:flex;
    flex-direction: row;
    align-items: center;
    }

.candidateInText{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/*===================blink item css========================================*/


.blink-1 {
    background-color: #ed553b;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
	-webkit-animation: blink-1 2s infinite both;
	        animation: blink-1 2s infinite both;
}

 @-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

/*===================blink item css========================================*/

@media(max-width:800px){
    .panelTop{
        flex-direction: column;

    }
    .twoButTop{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
         }
    .entcHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .comName{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btnTitle{
        font-size: 0.7rem;
        margin:0;
    }
    
}

.btn-primary, .btn-secondary{
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  height: 3em;
  font-size: 0.75em;
  margin-right: 0.5rem;
  transition: 0.4s;
}

.btn-secondary{
  border: 1px solid #ed553b;
  background-color: #ed553b;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #20639b;
}

.btn-secondary:hover {
  background-color: #ffffff;
  color: #ed553b;
}

.btn-primary:not(:disabled):not(.disabled):focus, .btn-secondary:not(:disabled):not(.disabled):focus{
  outline: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active{
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}

.btn-secondary:active{
  border: 1px solid #ed553b;
  background-color: #ed553b;
}

/*Animations*/

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-slow {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
0% {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
  opacity: 0;
}
100% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
}

