a {
  color: inherit;
}
.panelPage {
  background-image: url("../../assets/logImages/pannelbk.png");
  background-size: cover;
  height: 100%;
}

.panelTop {
  background-color: #20639b;
  color: #ffffff;
  text-align: center;
}
.nav-element {
  padding: 0;
  min-height: 45px;
}
.nav-element button {
  width: 100% !important;
  height: 100%;
}
.askSupport {
  background-color: #173f5f;
}
.candidateIn {
  position: absolute;
  font-size: 0.75em;
  color: #ffffff;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 0.5em;
}

.panelName {
  font-size: 0.75em;
  color: white;
  align-items: center;
  align-content: center;
  padding-bottom: 0.5em;
}
.companyname {
  padding-top: 1em;
  padding-bottom: 0.5rem;
  font-size: 1.2em;
  color: white;
}
.placeholder {
  min-height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.panelProfile {
  /* position: fixed; */
  top: 0;
  text-align: justify;
}

.panelColumn {
  /* min-height: calc(100vh - 2em); */
  display: flex;
  flex-direction: column;
}
.img-fluid-wait {
  max-width: 100%;
  max-height: 60vh;
}
.logo-bar {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* max-width: 800px; */
}

.LogoBarImages {
  height: 4em;
  width: auto;
  max-width: 50%;
  margin: 0 0.5rem;
}

.logo-bar img {
  height: inherit;
  width: inherit;
}
.more {
  display: none;
}
/*===================Buttons========================================*/

.btn-primary,
.btn-secondary,
.btn-link {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  height: 3em;
  font-size: 0.75em;
  transition: 0.4s;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-link:disabled {
  background-color: gray;
  border-color: gray;
}

.btn-secondary {
  border: 1px solid #ed553b;
  background-color: #ed553b;
}

.btn-link {
  border: 1px solid #173f5f;
  background-color: #173f5f;
  font: inherit;
  height: 2em;
  text-align: center;
  vertical-align: inherit;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #20639b;
}

.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #ed553b;
}

.btn-link:not(:disabled):not(.disabled):hover {
  background-color: #ffffff;
  color: #173f5f;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled):focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-link:not(:disabled):not(.disabled):active {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  border: 1px solid #ed553b;
  background-color: #ed553b;
}

.nextInterviewButton {
  font-size: 1em;
  margin: 0.5rem;
  z-index: 1;
  position: absolute;
  right: 1rem;
  top: 0;
}

/* media queries */
@media screen and (min-width: 480px) {
  .panel-details {
    text-align: left;
    padding-left: 3em;
  }
  .panelName {
    font-size: 0.8em;
  }
  .companyname {
    padding-top: 0.5em;
    padding-bottom: 0;
    font-size: 1.2em;
  }
}
@media screen and (min-width: 960px) {
  .panelColumn {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .desktop-hide {
    display: none;
  }
  .app-panel-table {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100vh - 70px);
    justify-content: center;
  }
  .more {
    display: block;
    background-color: #173f5f;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    left: 1em;
    width: 33vw;
  }
}

/*Animations*/
.blink-1 {
  background-color: #ed553b;
  margin-right: 0.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  -webkit-animation: blink-1 2s infinite both;
  animation: blink-1 2s infinite both;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-out-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-left {
  -webkit-animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-slow {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.more::before {
  animation: bounce 1s ease 2;
  bottom: 1rem;
  color: #fff;
  border-radius: 50%;
  background: #000;
  content: "╲╱";
  font-size: 1rem;
  height: 3rem;
  width: 3rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 3rem;
  opacity: 0.25;
  position: absolute;
  text-align: center;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}
