.panelPage{
    background-image: url('../../assets/logImages/pannelbk.png');
    background-size: cover;
    
    
}
.panelTop{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
    margin:0;
}

.companyname{
    padding: 0;
    font-size: 2rem;
    color: rgb(56, 45, 45);
    margin: 2rem;
    margin-bottom: 0;
  
}

.entcHeader{
    display: flex;
    align-items: center;
}
.entcHeader h3{
    font-size:1rem;
    margin: 1rem;
}
.comName{
    background-color: #20639b;
    padding: 0.5rem 3rem;
    margin-bottom: 1rem;
    border-radius: 0 2rem 2rem 0;

}
.comName h1{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;

}


@media(max-width:800px){
    .panelTop{
        flex-direction: column;

    }
    .twoButTop{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
         }
    .entcHeader{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    .comName{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btnTitle{
        font-size: 0.7rem;
        margin:0;
    }
    
}