<!-- panel name -->
<section>
  <div class="entcHeader">
    <h3>ENTC Career fair 2020</h3>
    <img src="../../assets/logImages/entclogo2.jpg" alt="login image" class="login-img" style="width: 5rem;">
  </div>
  <div class="panelTop">
    <div class="comName">
      <h1 class="companyname">Dialog Panel X</h1>
    </div>
    <div class="twoButTop">
      <button class='topBut' *ngIf="available else elseBlock" (click)="next_candidate()"> Next Interview</button>
      <ng-template #elseBlock><button class='topBut' (click)="next_candidate()"> Candidate in Interview</button>
      </ng-template>

      <button class='topBut' *ngIf="support else askSupport" (click)="cancelSupport()"> Cancel Request</button>
      <ng-template #askSupport><button class='topBut' (click)="requestSupport()"> Request Support</button></ng-template>

      <button class='topBut endInt'> End Interview</button>
    </div>
  </div>
  `
</section>

<!-- candidate profile -->
<section>
  <app-candidate-profile *ngIf='currentApplicant.length!==0' [id]='currentApplicant'></app-candidate-profile>
</section>

<!-- all applicants -->
<section>
  <app-panel-table></app-panel-table>
</section>