<!-- panel name -->
<div class="panelPage">
  <section>
    <div class="entcHeader">
      <h3>ENTC Career fair 2020</h3>
      <img src="../../assets/logImages/entclogo2.jpg" alt="login image" class="login-img" style="width: 5rem;">
    </div>
    <div class="panelTop">
      <div class="comName">
        <h1 class="companyname">Dialog Panel X</h1>
      </div>
      <div class="twoButTop">
        <button class='topBut' *ngIf="available else elseBlock" (click)="next_candidate()">
          <h3 class='btnTitle'> next interview</h3>
        </button>
        <ng-template #elseBlock><button class='topBut' (click)="next_candidate()">
            <h3 class="btnTitle">candidate in interview</h3>
          </button>
        </ng-template>

        <button class='topBut' *ngIf="support else askSupport" (click)="cancelSupport()">
          <h3 class="btnTitle"> cancel request</h3>
        </button>
        <ng-template #askSupport><button class='topBut' (click)="requestSupport()">
            <h3 class="btnTitle">request support</h3>
          </button></ng-template>

        <button class='topBut endInt'>
          <h3 class="btnTitle">end interview</h3>
        </button>
      </div>
    </div>
    <button class='topBut endInt' (click)="onClickLogout()">Logout</button>
  </section>

  <!-- candidate profile -->
  <section *ngIf='currentApplicant.length!==0'>
    <app-candidate-profile [id]='currentApplicant'></app-candidate-profile>
    <button class='topBut endInt' (click)="startInterview()"> Start Interview</button>
    <button class='topBut endInt' (click)="endInterview()"> End Interview</button>
  </section>

  <!-- all applicants -->
  <section>
    <app-panel-table></app-panel-table>
  </section>
</div>