.candidate-profile-img {
  max-height:300px;
  min-height: 200px;
  min-width:200px;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex: 0.25 0.25 0;
  border-radius: 50%;
  background-color: #3caea3;
}

.candidate-profile-img img{
  height:auto;
  width: fit-content;
  max-width: 115%;
  max-height: 125%;
  object-fit: cover;
}

.candidate-panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2rem;
  height: auto;
  margin: 0;

}

.candidate-profile {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  flex: 0.75 0.75 0;
  height: auto;
  /* max-height: 300px; */
  min-width: 400px;
  margin: 1rem;
  border-radius: 5px;
  border-left: solid 10px #20639b ;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.32); 
box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.32);
}

.form-control{
  font-size: 0.75em;
}

.candidate-profile p {
  text-align: justify;
  font-size: 1em;
  margin-bottom: 0.5rem;
}
.candidateDetails{
  width: 100%;
  height: auto;
}

.candidate-profile h3 {
  font-size: 1.25em;
  margin: 0;
}

.candidateInterests {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.btn-outline-primary {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  border: none;
  
  font-size: 0.75rem;
  
  margin-right:0.5rem;
  transition: 0.4s;
}
  
.btn-outline-primary:hover {
  background-color: #ffffff;
  color: #20639b;
}

.btn-outline-primary:not(:disabled):not(.disabled):focus{
  outline: none;
  box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active{
  background-color: #20639b;
  color: #ffffff;
  outline: none;
  box-shadow: none;
  transition: 0.1s;
}

/*
@media (max-width: 1100px) {
  .candidate-profile {
    width: 100%;
  }
}*/
/*
@media (max-width: 600px) {
  .candidate-profile {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .candidate-profile img {
    border-radius: 0;
  }

  .candidate-profile p {
    font-size: 0.7em;
  }

  .viewCVButton {
    border-radius: 4px ;
    border: none;
    padding: 4px 12px;
    font-size: 0.75rem;
    margin-bottom: 14px;
    transition: 0.4s;
  }

  .viewCVButton{
    padding: 0.2rem 0.2rem;
  }
  .candidate-profile-img{
    width: 6rem;
    height: 6rem;
  }
}
*/
