<div class="row candidate-panel">
   <div class="col-sm-3 image-container">
      <div class="candidate-profile-img">
         <img src={{profileImage}} alt="" />
      </div>

   </div>

   <div class="col-sm-9">
      <div class=" candidate-profile">
         <h3>{{profile.name}}</h3>
         <p>{{profile.profile}}</p>
         <button class="btn btn-primary"><a href={{profile.default_resume}} target="_blank" role="button">View
               CV</a></button>
         <button class="btn btn-primary " *ngIf="!started" (click)="startInterview()">Start
            Interview</button>
         <button class="btn btn-primary " *ngIf="started" disabled>Start
            Interview</button>

         <form>
            <div class="form-group">
               <label for="PostInterviewInstructions">Post-Interview Instructions</label>
               <textarea class="form-control" id="PostInterviewInstructions" rows=3
                  placeholder="Enter any post-interview instructions to candidates or coordinators here."
                  [(ngModel)]="comments" [ngModelOptions]="{standalone: true}"></textarea>
            </div>
         </form>
         <button class="btn btn-primary " *ngIf="!started" disabled>Submit & End Interview</button>
         <button class="btn btn-primary " *ngIf="started" (click)="endInterview()"> Submit & End Interview</button>
      </div>
   </div>

</div>