a {
  color: inherit;
}
.candidate-panel {
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 2em;
}
.image-container {
  display: block;
  justify-content: center;
  height: 60vw;
  width: 60vw;
  margin: auto;
}
.candidate-profile-img {
  height: 60vw;
  width: 60vw;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  background-color: #599b9493;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.candidate-profile-img img {
  height: auto;
  width: fit-content;
  max-width: 115%;
  max-height: 125%;
  object-fit: cover;
}

.candidate-profile {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  height: auto;
  min-width: 400px;
  border-radius: 5px;
  border-left: solid 10px #20639b;
  -webkit-box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.32);
}

.form-group {
  margin-top: 1rem;
}

.form-control {
  font-size: 0.75em;
}

.candidate-profile p {
  text-align: justify;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

.candidate-profile h3 {
  font-size: 1.25em;
  margin: 0;
}

.btn-primary {
  border: 1px solid #20639b;
  background-color: #20639b;
  color: #ffffff;
  height: 3em;
  font-size: 0.75em;
  transition: 0.4s;
  border-radius: 0;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-link:disabled {
  background-color: gray;
  border-color: gray;
}

@media screen and (min-width: 480px) {
  .image-container {
    height: 15vw;
    width: 15vw;
  }
  .candidate-profile-img {
    height: 15vw;
    width: 15vw;
  }
}
