<h1>Test Page example: profile</h1>
<app-candidate-profile></app-candidate-profile>

<h4>Creating a new component</h4>
<ol>
    <li>navigate to the folder you want to create the component in eg; a subcomponent of the panel go to
        <code>src/app/panel/</code>
    </li>
    <li>type <code>ng g c COMPONENT_NAME</code></li>
    <li> go to src/app/test/test.component.html and paste
        <code> &lt;app-COMPONENT_NAME&gt; &lt;/app-COMPONENT_NAME&gt; </code></li>
    <li>to view component go to <code>localhost:4200/test</code> in the browser</li>
</ol>